[viewBag]
==
<!-- Footer -->
<section id="footer">
    <div class="container">
        <ul class="copyright">
            <li>Copyright © 2019 <a href="mailto:&#115;&#98;&#117;&#103;&#108;&#97;&#64;&#112;&#114;&#111;&#116;&#111;&#110;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank">STB</a></li>
            <li><a href="{{'creditos'|app }}" >{{'Créditos'|_}}</a></li>
            <li><a href="/#contact">{{'Quem Somos'|_}}</a></li>
            <li><a href="{{'headlines/subscribe'|app}}">{{'Subscrição'|_}}</a></li>
            <li><a href="{{'headlines/unsubscribe'|app}}">{{'Cancelar subscrição'|_}}</a></li>
        </ul>
    </div>
</section>
