<!-- Scripts -->
<script src="{{'assets/js/jquery.min.js'|theme }}"></script>
<!--<script src="{{'assets/js/jquery.modal.min.js'|theme }}"></script>-->


<script src="{{'assets/js/skel.min.js'|theme }}"></script>
<script src="{{'assets/js/skel-layout.min.js'|theme }}"></script>
<script src="{{'assets/js/skel-viewport.min.js'|theme }}"></script>
<script src="{{'assets/js/util.js'|theme }}"></script>
<!--[if lte IE 8]>
<script src="{{'assets/js/ie/respond.min.js'|theme }}"></script><![endif]-->
<script src="{{'assets/js/lightbox.min.js'|theme }}"></script>
<script src="{{'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{% scripts %}